@tailwind base;
@tailwind components;
@tailwind utilities;

details{
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

details[open]{
    min-height: 670px;
    max-height: 670px;
}